
.overflow-x-auto {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

thead {
  background-color: #f8bcbc;
  color: #000;
  font-weight: bold;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  position: sticky;
  top: 0;
  background-color: #f8bcbc;
  white-space: nowrap;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tfoot {
  background-color: #fff;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.pagination button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #c9302c;
}

.total {
  color: red;
  font-weight: bold;
}

.createInventroy{
  width: 100%;
  height: 6vh;
}

.createInventroybtn{
  width: 10%;
  height: 100%;
  margin-left: 90%;
  border-radius: 10vh;
  color: rgb(0, 0, 0);
  background-color: #ff5a5a;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor:pointer;
}